doctype html 
html 

    head 
        link(rel='stylesheet' href='css/style.css')
        link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='font-awesome/css/font-awesome.min.css')
        link(rel='icon' type='image/svg' href='img/joystick-icon.svg')
    body 
        // Content
        block content 
        
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        script(type='module' src='/js/loginForm.js')

